.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listItem {
    margin: 10px;
}

.button {
    padding: 10px 30px;
}