.genre-list {
    list-style: none;
    padding: 0;
  }
  
  .genre-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }
  
  .genre-item button {
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .genre-item button.selected {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
  }
  
  .genre-item button:hover {
    background-color: rgb(196, 196, 196);
  }