* {
    font-size: 1.2rem;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - (100vw - 100%));
    flex: 1 1 0;
    gap: 1em;
    padding: 1em;
}